.body{ background-color: slategrey;
    display: flex;
    justify-content: flex-end;

}
.h1{
    color: white;
   /* text-align: left ; */
   position: absolute;
   left: 15px;
   font-size: 50px;
}

.div2{
    width: 400px;
    /* display: flex; */
    /* justify-content: center; */
    margin-top: 100px;
    color: white;
    position: absolute;
    left: 20px;
    
}
p{
    text-align: left;
    
}
.div3{
    margin-top: 150px;


}
.formulrio{
    position: absolute;
    right: 20px;    
    
}
